<h1> About </h1>
<!--This page gives a small description about this project-->
  <div class="stats">
    	 <div style="text-align:center">
            <p>My name is Youcef O'Connor</p>
            <br>
            <p> I am a final year honours student, studying Computer Science at the National College of Ireland</p>
            <br>
            <p> You can view my LinkedIn profile <a href="https://www.linkedin.com/in/youcefoconnor"target="_blank">here<a> </p>
            <br>
            <p>
              I was tasked with deveolping a fully functioning Smart Health Care - Patient Monitoring System for my Cloud Application Development project.
            </p>
        </div>
  </div>
