<h1> About </h1>
<!--This page gives a small description about this project-->
  <div class="stats">
    	 <div style="text-align:center">
            <p>Hello! I'm Youcef O'Connor</p>
            <br>
            <p> Computing Science graduate from the National College of Ireland.</p>
            <br>
            <p> This online application was developed for my Cloud Application Development project. 
            Using fake data, the Smart Health Care - Patient Monitoring System allows doctors to monitor patients.</p>
            <br>
            <p> You can view my LinkedIn profile <a href="https://www.linkedin.com/in/youcefoconnor"target="_blank">here<a> </p>
            <br>
        </div>
  </div>
