<% provide(:title, "Contact") %>
<h1>Contact</h1>
<!--My contact details-->
  <div class="stats">
        <div style="text-align:center">
            <p>
              Name: Youecf O'Connor.
            </p>
            <br>
            <p>
              Email: x13114557@student.ncirl.ie
            </p>
            <br>
            <p>
              
              LinkedIn: <a href="https://www.linkedin.com/in/youcefoconnor"target="_blank">https://www.linkedin.com/in/youcefoconnor</a>
            </p>
        </div>
  </div>