<% if @doctor.errors.any? %>
<!-- This file is used to display and point out errors with forms-->
  <div id="error"> <!--calls the error div. Used to higlight errors in red-->
    <div class="alert alert-danger">
      The form contains <%= pluralize(@doctor.errors.count, "error") %>. <!--Counts how many errors there are with the form--> 
    </div>
    <ul>
    <% @doctor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>