<% provide(:title, 'Register') %>
<h1>Register Here</h1>
<p>Origanly doctors would be given login details to their accounts which were already made by staff
to prevent anyone without autherisation access</p>
