

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">

        <h1>
          <%= gravatar_for @doctor %>
          Dr 
          <%= @doctor.full_name %>
          <p></p>
          <%= @doctor.email %>
          <p></p>
          ID Number:
          <%= @doctor.id %>
          
        </h1>
        
    </section>
  </aside>
</div>