<!--Create a new patient status post -->
<% provide(:title, 'Create Patient Status') %>
<% provide(:button_text, 'Add Patient Status') %>

  <h1>New Status</h1>
  
  <!--pulls the form from _statsform-->
    <%= render 'statsform' %>