<!-- this is the layout for the footer -->
<footer class="footer">
  <small>
    Cloud Application Development project by <a href="https://www.linkedin.com/in/youcefoconnor"target="_blank">Youcef O'Connor</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>